
nav{
  position: fixed;
  width: 100%;
  z-index: 99;
.botonsubir{
  display: none;
}
  .boton-menu,
  .clickUno{
    display: block !important;
    position: absolute;
    margin-left: 0 !important;
    top: 50px;
    left: 40px;
    color: #fff;
    transform: scale(1.8);
    left: 22px;
    z-index: 999999;
  }

  .contenedor-logo{
    width: 270px;
    min-width: 200px;
    height: auto;
    padding: 4vw 0 0 8vw;
    z-index: 99999;
    position: relative;
    
  }
  .menu-animado{
    top: 0;
    position: fixed;
    width: 0;
    height: 0;
    background: $morado;
    color: white;
    z-index: 9999;
    border-bottom-right-radius: 100%;
    transition: 0.5s;
    transition-timing-function: ease-in;
    overflow: hidden;

    .contenedor-menu{
      position: relative;
      width: 100vw;
      right: 0;
      height: 100%;
      display: flex;
    .contenedor-papa-imagen-svg{
      position: relative;
      width: 50%;
      height: 100%;
      overflow: hidden;
      display: inline-block;
      .contenedor-svg-menu{
        transition: 0.5s;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        overflow: hidden;
        z-index: 2;
      }
      .contenedor-img-menu{
        position: relative;
        width: 100%;
        height: 100vh;
        opacity: 0;
        transition: 0.5s;
        .imagen-menu-svg{
          transition: 0.5s;
          position: relative;
          height: 100vh;
          width: auto;
          max-width: unset;
          /* left: 50%; */
          /* top: 50%; */
          /* -webkit-transform: translate(-50%, -50%); */
          /* transform: translate(-50%, -50%);*/
        }
      }
    }
     
      .menu-menu-1-container{
        position: relative;
        width: 50%;
        height: 100%;
        padding: 29vh 0 0 9vw;
        display: inline-block;

        ul{
          li{
            position: relative;
            padding-bottom: 20px;
            display: table;
            opacity: 0;
            transition: 0.5s;

            &:hover{
              a{
                &::before{
                  width: 100%;
                  transition: 1s;
                }
                &::after{
                  opacity: 1;
                  transition: 0.5s;
                }
              }
            }
            a{
              color: #626889;
              font-size: 30px;
              font-weight: 900;
              letter-spacing: 5px;
              transition: 1s;

              &::before{
                top: 0;
                left: 0;
                position: absolute;
                height: 100%;
                width: 0;
                transition: 1s;
                color:white;
                overflow: hidden;
                white-space: nowrap;
                content:  attr(data-text);
              }
              &::after{
                content: '';
                background-color: rgba(117, 59, 189, .9);
                border-radius: 25px;
                width: 35px;
                height: 35px;
                left: -15px;
                position: absolute;
                transition: .5s;
                opacity: 0;
                display: block;
                top: 8px;
                z-index: -1;
              }
            }
          }
        }
      }
    }
  }
  .menuexpandido{
    width: 120%;
    height: 120%;
  }
  .border {
    border-bottom-right-radius: 0;
  }



  @media only screen and (max-width: 1100px) {
    .menu-animado{
      .contenedor-menu{
        .menu-menu-1-container{
          ul{
            li{
              a{
                font-size: 26px;
              }
            }
          } 
        } 
      }
    }
  }
  @media only screen and (max-width: 860px) {
    .contenedor-logo{
      width: 230px;
      left: 30px;
      top: 10px;
      min-width: 170px;
    }
  }
  @media only screen and (max-width: 768px) {
    .botonsubir{
      display: block;
      top: auto!important;
      bottom: 64px!important;
      position: fixed!important;
      right: 19px!important;
      background: $azul !important;
      border-radius: 50%!important;
      width: 55px!important;
      box-shadow: 5px 5px 10px rgba(0,0,0,.2);
      padding: 0 14px;
      height: 55px;
      .favi{
        &::before{
          content: "\F062";
          position: relative;
          left: 5px;
          top: 15px;
          height: 18px;
          font-size: 21px;
          color:white;

        }
      }
    }
    .svg-contenedor-menu{
      position: absolute !important;
    }
    .menu-animado{
      .contenedor-menu{
        .menu-menu-1-container{
          width: 70%;
          left: 50%;
          text-align: center;
          top: 50%;
          transform: translate(-50%,-50%);
          ul{
            li{
              a{
              &::after{
                top: 0px;
              }
              }
            }
          } 
        }
      } 
      .contenedor-menu{ 
        .contenedor-papa-imagen-svg{
          display: none !important;
        } 
      }
    }
  }
  @media only screen and (max-width: 580px) {
    .contenedor-logo{
      width: 232px;
      left: 55px;
      top: 21px;
      min-width: 170px;
    }
  }
  @media only screen and (max-width: 550px) {
    .menu-animado{
      .contenedor-menu{
        .menu-menu-1-container{
          width: 100%;
          left: 50%;
          text-align: center;
          top: 50%;
          transform: translate(-50%,-50%);
          ul{
            li{
              a{
                font-size: 22px;
              }
            }
          } 
        }
      } 
    }
  }
}
@media only screen and (max-width: 768px) {
  nav{
    position: absolute !important;
    .svg-contenedor-menu{
      position: absolute !important;
    }
  }
}
.menu-item-opacity{
  opacity: 1 !important;
  transition: 0.5s;
}

.degradado{
  width: 200%;
  position: fixed;
  height: 200%;
  background: linear-gradient(230deg, #75d3f3, #2196bd, #904ce4, #101636, #090d21);
  background-size: 1000% 1000%;
  animation: deg 19s ease infinite;
}

@keyframes deg { 
  0%{background-position:94% 0%}
  50%{background-position:7% 100%}
  100%{background-position:94% 0%}
}

.imagensvg{
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}
.parallax{
  position: absolute;
  transition: 1.5s;
  top: 0;
  width: 100%;
  height: auto;
}
