.contenedor-padre-nuestro-equipo{
    z-index: 1;
    position: relative;
    padding: 0 0 0 8vw;
    .contenedor-titulo-nuestro-equipo{
        h3{
            color: white;
            font-size: 25px;
            letter-spacing: 3px;
            font-weight: 500;
            text-transform: uppercase;
            padding-bottom: 20px;
            position: relative;
        }
        p{
            color: white;
            letter-spacing: 1px;
            font-size: 15px;
            width: 50%;
            padding-bottom: 30px;
        }
    }
    .contenedor-padre-tarjetas-nuestro-equipo{
        position: relative;
        margin-left: -27px;
        padding: 0px 80px 20px 0;

        .contenedor-tarjeta-nuestro-equipo{
            padding: 20px;
            border-radius: 20px;
            position: relative;
            transition: 0.5s;
            margin: 5px;
            background: linear-gradient(45deg, rgba(19,25,61,1) 0%, rgba(118,59,189,1) 46%, rgba(53,181,223,1) 85%, rgba(53,181,223,1) 100%);

            &:hover{
                transition: 0.5s;
                transform: scale(1.03);
            }

            .contenedor-imagen-tarjeta-nuestro-equipo{
                width: 40px;
                height: 40px;
                position: relative;
                z-index: 99;
            }
            .contenedor-titulos-tarjeta-nuestro-equipo{
                h4{
                    font-size: 14px;
                    color: white;
                    font-weight: 600;
                    text-transform: uppercase;
                    padding: 15px 0;
                    z-index: 99;
                }
                p{
                    color: white;
                    letter-spacing: 1px;
                    font-size: 12px;
                    padding-bottom: 15px;
                    height: 80px;
                    z-index: 99;
                    position: relative;
                }
            }
            .contenedor-descrip-tarjeta-nuestro-equipo{
                color: white;
                font-size: 15px;
                transition: 0.5s;
            }
            a{
                position: relative;
                background: #35b4df;
                border-radius: 20px;
                font-size: 10px;
                color: white;
                text-transform: uppercase;
                letter-spacing: 2px;
                padding: 7px 20px;
            }
        }
    }
    .contenedor-boton-video{
        position: relative;
        width: 94%;
        padding-bottom: 44px;
        text-align: right;

        .vermasservicios{
            background: white;
            border-radius: 20px;
            font-size: 10px;
            color: $pupura;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 7px 20px;
            position: relative;
        }
    }
    @media only screen and (max-width: 768px) {
        .contenedor-titulo-nuestro-equipo{
            p{
                color: white;
                letter-spacing: 1px;
                font-size: 15px;
                width: 90%;
                padding-bottom: 30px;
            }
        }
    }
}