.contenedor-padre-portafolio-home{
    z-index: 1;
    position: relative;
    padding: 0 0 0 8vw;
    .contenedor-titulo-portafolio-home{
        h3{
            color: white;
            font-size: 25px;
            letter-spacing: 3px;
            font-weight: 500;
            text-transform: uppercase;
            padding-bottom: 20px;
            position: relative;

            &::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: 8px;
                width: 100px;
                height: 4px;
                background: $azul;
                transition: 0.5s;
            }
        }
        p{
            color: white;
            letter-spacing: 1px;
            font-size: 15px;
            width: 50%;
            padding-bottom: 30px;
        }
    }
}