.contenedor-padre-portafolio{
    position: relative;
    z-index: 2;
    padding: 12vw;
    .contenedor-titulo-pagina{
        width: 100%;
        position: relative;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 50px;

        h2{
            color: white;
            font-size: 30px;
            letter-spacing: 2px;
            font-weight: 600;
        }
    }
    .contenedor-extracto{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 30px;
        p{
            color: white;
            letter-spacing: 1px;
            font-size: 15px;
            padding-bottom: 30px;
        }
    }
    .contenedor-los-portafolio{
        .contenedor-proyecto-seleccionado{
            .contenedor-tarjeta-grande-portafolio{
                .contenedor-imagen-destacada{
                    &:hover{
                        .contenedor-info-proyecto{
                            opacity: 1;
                            transition: 0.5s;
                        }
                    }
                    .contenedor-info-proyecto{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        color: white;
                        border-radius: 30px;
                        padding: 50px;
                        background: #753bbd;
                        opacity: 0;
                        transition: 0.5s;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        display: flex;
                        h3{
                            padding-bottom: 6px;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            font-weight: 700;
                        }
                        p{
                            font-size: 12px;
                            padding: 6px 0;
                            letter-spacing: 1px;
                        }
                        a{
                            padding: 5px 12px;
                            font-size: 8px;
                            border-radius: 20px;
                            color: #13193d;
                            background: white;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            box-shadow: 1px 4px 17px rgba(0, 0, 0, .2);
                        }
                    }
                }

            }
        }  
    }
}