.contenedor-padre-nosotros-home{
    z-index: 9;
    position: relative;
    color: white;
    padding-bottom: 40px;

    .contenedor-titulo-nosotros-home{
        position: relative;
        padding: 0 0 0 10vw;
        h3{
            color: white;
            font-size: 25px;
            letter-spacing: 3px;
            font-weight: 500;
            text-transform: uppercase;
            padding-bottom: 20px;
            position: relative;

            &::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: 8px;
                width: 100px;
                height: 4px;
                background: $azul;
                transition: 0.5s;
            }
        }
        p{
            color: white;
            letter-spacing: 1px;
            font-size: 15px;
            width: 50%;
            padding-bottom: 15px;
        }
    }

    .carousel{
        width: 85%;
        /* margin: 0px auto; */
        margin-left: 112px;

        .carousel-navigation.is-centered{
            justify-content: right !important;
            padding-bottom: 6px !important;

            .carousel-nav-left{
                border-radius: 20px;
                left: 15px;
                height: 2em;
                width: 2em;
            }
            .carousel-nav-right{
                border-radius: 20px;
                height: 2em;
                width: 2em;
            }
        }
        .carousel-container{
            .carousel-item{
                flex-basis: 282px !important;
                .contenedor-tarjeta-nuestro-equipo{
                    padding: 20px;
                    border-radius: 20px;
                    position: relative;
                    transition: 0.5s;
                    margin: 5px;
                    background: linear-gradient(45deg, rgba(19,25,61,1) 0%, rgba(118,59,189,1) 46%, rgba(53,181,223,1) 85%, rgba(53,181,223,1) 100%);
        
                    &:hover{
                        transition: 0.5s;
                        transform: scale(1.03);
                    }
        
                    .contenedor-imagen-tarjeta-nuestro-equipo{
                        width: 40px;
                        height: 40px;
                        position: relative;
                        z-index: 99;
                    }
                    .contenedor-titulos-tarjeta-nuestro-equipo{
                        h4{
                            font-size: 14px;
                            color: white;
                            font-weight: 600;
                            text-transform: uppercase;
                            padding: 15px 0;
                            z-index: 99;
                        }
                        p{
                            color: white;
                            letter-spacing: 1px;
                            font-size: 12px;
                            padding-bottom: 15px;
                            height: 80px;
                            z-index: 99;
                            position: relative;
                        }
                    }
                    .contenedor-descrip-tarjeta-nuestro-equipo{
                        color: white;
                        font-size: 15px;
                        transition: 0.5s;
            
                    }
                    a{
                        position: relative;
                        background: #35b4df;
                        border-radius: 20px;
                        font-size: 10px;
                        color: white;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        padding: 7px 20px;
                    }
                }
            }
        }
    }
    .contenedor-boton-conocenos{
        position: relative;
        width: 90%;
        padding-bottom: 44px;
        text-align: right;
        margin-top: 15px;
        background-position: center;

        .conocenos-home{
            background: white;
            border-radius: 20px;
            font-size: 8px;
            color: $pupura;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 7px 20px;
            position: relative;
            box-shadow: 1px 4px 17px rgba(0, 0, 0, .2);
        }
    }
    
    @media only screen and (max-width: 768px) {
        .carousel {
            margin-left: 0px;
            margin: 0px auto;
            width: 95%;
        }
       .contenedor-titulo-nosotros-home{
            p{
                width: 90%;
            }
       } 
    }
}